.warning{
    font-size: 10px;
    color: aqua;
}
body{
    background: skyblue;
}
.footer{
    color: darkblue;
    font-size: 20px;
}
hr{
    background: blue;
    height: 10px;
    width: 80%;
    border-radius: 10px;
}
a{
    font-size: 50px;
    text-decoration: none;
    color: green;
}
h1{
    font-size: 75px;
}
div{
    display: inline-block;
    padding: 50px;
}
main{
    color: blue;
}
img{
    height: 50px;
}
.mine{
    width: 100px;
    height: 100px;
}

@media (max-width:467px){
    p{
        font-size: 12px;
    }
}

@media (min-width:768px){
    div{
        padding: 40px;
    }
    a{
        font-size: 40px;
    }
}

@media (min-width:1024px){
    img{
        height: 70px;
    }
    a{
        font-size: 40px;
    }
}

@media (min-width:1440px){
    p{
        font-size: 30px;
    }
    h2{
        font-size: 40px;
    }
    img{
        height: 80px;
    }
}

@media (min-width:2560px){
    p{
        font-size: 40px;
    }
    h2{
        font-size: 50px;
    }
    img{
        height: 100px;
    }
}